.item {
    width: 180px;
    height: 345px;
    padding: 10px;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    &.disabled {
        cursor: default;
    }
    .title {
        font-size: 14px;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sold-out {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        width: 60px;
        background-color: #808080;
        color: #fff;
        bottom: 100px;
        margin-left: -5px;
        padding: 3px;
    }

    &:hover > .quick-shop {
        display: block;
    }
    img {
        width: 100%;
    }
    .quick-shop {
        display: none;
        width: 180px;
        height: 268px;
        background-color: rgba(255, 213, 67, 0.2);
        // background-color: red;
        position: absolute;
        top: 10px;
        text-align: center;
        .button {
            position: absolute;
            bottom: 0;
            border-radius: 0;
        }
    }
}
