.header {
    height: 47px;
    width: 100%;
    padding: 30px 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #f7f7f7;
}

.container-header-buttons {
    width: 33.33%;
    text-align: center;
}
