.product-quantity {
    .product-quantity__label {
        font-size: 14px;
        font-weight: 500;
    }
    .product-quantity__button-container {
        display: inline-block;
        border: solid 1px #d4d3d3;
        padding: 6px 12px;
        margin: 0 10px;
    }
    .product-quantity__text {
        margin: 0 15px;
        display: inline-block;
        width: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    .product-quantity__button {
        padding: 5px 10px;
        font-size: 10px;
        color: #212529;
        background-color: transparent;
        margin: 0;
    }
}
