.product-size {
    .product-size__label {
        font-size: 14px;
        font-weight: 500;
    }
    .product-size__button {
        padding: 10px 18px;
        margin: 0;
        border: none;
    }
}
