.button {
    font-size: 14px;
    font-weight: bold;
    margin: 0 35px;
    padding: 15px 30px;
    border: none;
    &:focus {
        outline: none;
    }
    border-radius: 2px;
    &.button--primary {
        background-color: #ffa15f;
        border: solid 1px #ffa15f;
        color: white;
        &:hover {
            background-color: #ff7e24;
        }
    }
    &.button--blue {
        background-color: #5f6dff;
        border: solid 1px #394afd;
        color: white;
        &:hover {
            background-color: #394afd;
        }
    }
    &.button--shadow {
        box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    }
    &.button--block {
        display: block;
        width: 100%;
        margin: 0;
    }
    &.button--outline {
        color: #ff7e24;
        background-color: transparent;
        &:hover {
            background-color: #ff7e2424;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
    &:disabled {
        background-color: #b1b1b1;
        border: solid 1px #b1b1b1;

        &:hover {
            background-color: #9e9d9d;
        }
    }
}
