.add-product__categories {
    position: relative;
    .categories__container {
        min-height: 37px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .categories__option-container {
        width: 100%;
        background-color: white;
        position: absolute;
        box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.1);
        list-style-type: none;
        padding: 15px;
    }
    .categories__option {
        padding: 5px;
        &:hover {
            background-color: rgba(255, 161, 95, 0.3);
        }
    }
    .categories__option-fake {
        position: fixed;
        background-color: black;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 0;
    }
}
