.seller-dashboard {
    height: fit-content;
    min-height: 100%;
    box-shadow: 1px 0 0 0 #ededed;
    background-color: #f6f6f6;
    padding: 35px 20px;
    .seller-dashboard__title {
        font-size: 28px;
        font-weight: bold;
        color: #202124;
        margin-bottom: 25px;
    }
}
