.product-detail {
    .product-detail__title {
        font-size: 24px;
        color: #202124;
    }
    .product-detail__price {
        font-size: 24px;
        color: #202124;
        font-weight: 300;
    }
}
