.homepage__container {
    .homepage__cover {
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 0 10px;
        cursor: pointer;
        z-index: -1;
    }
    .homepage__pic {
        cursor: pointer;
        width: 100%;
        margin-bottom: -140px;
        z-index: -1;
    }
    .homepage__cover-button {
        padding: 13px 48px;
        font-size: 16px;
        right: 250px;
        position: absolute;
        bottom: 200px;
    }
    .homepage__pic-container {
        width: 25%;
        padding: 10px 10px;
        position: relative;
    }
    .homepage__pic-button {
        padding: 10px 30px;
        font-size: 14px;
        margin-top: 10px;
    }
    .homepage__overlay {
        z-index: 99;
    }
    .homepage__hr {
        border: none;
        width: 85%;
        position: relative;
        border-bottom: 1px solid white;
    }
}
