.login-button {
    border-radius: 100px;
    padding: 10px 30px;

    .login-button:hover {
        background-color: #ff7e2424;
        cursor: pointer;
    }

    .login-button:focus {
        outline: none;
    }
}
