.order-product {
    .order-product__img-container {
        width: 50px;
        text-align: left;
    }
    .order-product__img {
        width: 40px;
        height: 60px;
    }
    .order-product__title {
        width: 350px;
        text-align: left;
    }
}
