.bag-item {
    .bag-item__size {
        font-size: 18px;
        font-weight: 500;
    }
    .bag-item__remove {
        button {
            font-size: 20px;
            padding: 15px;
            margin: 0;
        }
    }
}
