.footer-primary-nav {
    font-size: 14px;

    &__ul {
        list-style: none;
        margin-top: 0;
    }
    &__li {
        display: inline-block;
        padding: 0 20px 15px;
        &:hover {
            cursor: pointer;
        }
        a.link {
            color: #b7b7b7;
        }
    }
}
