.nav-bar {
    height: 40px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    height: 47px;
    ul {
        list-style: none;
        margin-top: 0;
        li {
            display: inline-block;
            position: relative;
            padding: 15px 20px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
            &:hover > ul{
                display: block;
            }

            .sub-menu {
                width: 620px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
                border: solid 0.5px #eaeaea;
                background-color: #fbfbfb;
                margin-top: 15px;
                padding: 0 15px;
                display: none;
                position: absolute;
                left: -310px;

                li {
                    font-size: 14px;
                    font-weight: normal;
                    text-align: center;
                    color: #202124;
                }
            }
        }
    }
}
