.product-picture {
    .product-picture--main {
        width: auto;
        height: 537px;
    }
    .product-picture--small {
        width: 80px;
        height: 116px;
        margin-bottom: 25px;
    }
}