.product-picture {
    cursor: pointer;
    .product-picture--main {
        width: 368px;
        height: 537px;
    }
    .product-picture--small {
        width: 80px;
        height: 116px;
        margin-bottom: 25px;
    }
    .disabled {
        cursor: default;
    }
}
