.add-product {
    .add-product__label {
        font-size: 12px;
        font-weight: bold;
        color: #202124;
        width: 110px;
        text-align: right;
        padding-right: 20px;
        text-transform: uppercase;
    }
    .add-product__input-container {
        width: 800px;
    }
    .add-product__input {
        border-radius: 2px;
        border: solid 1px #ededed;
        background-color: #ffffff;
        padding: 5px 12px;
        margin-bottom: 10px;
    }
    .add-product__text-area {
        height: 112px;
        border: solid 1px #ededed;
        background-color: #ffffff;
        border-radius: 2px;
        padding: 5px 12px;
    }
    .add-product__row {
        display: flex;
        flex-wrap: wrap;
        max-width: 950px;
        margin: auto;
        align-items: center;
        margin-bottom: 20px;
    }
}
