.product-detail-color {
    .product-detail-color__label {
        font-size: 14px;
        font-weight: 500;
    }
    .product-detail-color__button {
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
