.container {
  display: flex;
}

.justify-content-around {
  justify-content: space-around !important;
}

/* Text Color */
.white {
  color: #ffffff;
};
.charcoal-grey {
  color: #3d3d3f;
};
.white-two {
  color: #f6f6f6;
};
.white-three {
  color: #ededed;
};
.white-four {
  color: #d4d3d3;
};
.pea-green {
  color: #82bf11;
};
.strawberry {
  color: #f63f45;
};
.pumpkin-orange {
  color: #ff7413;
};
.bright-orange {
  color: #ff6900;
};
.apricot {
  color: #ffc371;
};
.greyish-brown {
  color: #4d4d4d;
};
.pinkish-grey {
  color: #cccccc;
};
.greyish {
  color: #acacac;
};
.cornflower-50 {
  color: rgba(95, 109, 255, 0.5);
}
.greyish-two {
  color: #b7b7b7;
};
.white-five {
  color: #fbfbfb;
};
.dark-grey {
  color: #202124;
};
.brown-grey {
  color: #979797;
};
.black-8 {
  color: rgba(0, 0, 0, 0.08);
}
.white-six {
  color: #eaeaea;
};