@import "src/asset/scss/fontawesome/fontawesome.scss";
@import "src/asset/scss/fontawesome/solid.scss";
@import "src/asset/scss/fontawesome/brands.scss";

body {
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
}

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.mt-5 {
    margin-top: 3rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mb-5 {
    margin-bottom: 3rem;
}

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 1.5rem;
}
.mt-5 {
    margin-top: 3rem;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mb-5 {
    margin-bottom: 3rem;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.vertical-algin-midle {
    vertical-align: middle;
}

.text--center {
    text-align: center;
}
.text--left {
    text-align: left;
}
.text--bold {
    font-weight: bold;
}
.text--underline {
    text-decoration: underline;
}

/* Text Color */
.text--white {
    color: #ffffff;
}
.text--charcoal-grey {
    color: #3d3d3f;
}
.text--white-two {
    color: #f6f6f6;
}
.text--white-three {
    color: #ededed;
}
.text--white-four {
    color: #d4d3d3;
}
.text--pea-green {
    color: #82bf11;
}
.text--strawberry {
    color: #f63f45;
}
.text--pumpkin-orange {
    color: #ff7413;
}
.text--bright-orange {
    color: #ff6900;
}
.text--apricot {
    color: #ffc371;
}
.text--greyish-brown {
    color: #4d4d4d;
}
.text--pinkish-grey {
    color: #cccccc;
}
.text--greyish {
    color: #acacac;
}
.text--cornflower-50 {
    color: rgba(95, 109, 255, 0.5);
}
.text--greyish-two {
    color: #b7b7b7;
}
.text--white-five {
    color: #fbfbfb;
}
.text--dark-grey {
    color: #202124;
}
.text--brown-grey {
    color: #979797;
}
.text--black-8 {
    color: rgba(0, 0, 0, 0.08);
}
.text--white-six {
    color: #eaeaea;
}
// Form
.form {
    .form__label {
        margin-top: 17px;
        font-size: 16px;
        font-weight: bold;
        display: block;
    }
    .form__input {
        margin-top: 12px;
        width: 90%;
        height: 37px;
        border: solid 1px #b7b7b7;
        background-color: #f6f6f6;
        font-size: 16px;
        padding: 0 24px;
    }
    .form__input__error {
        background-color: rgba(246, 63, 69, 0.04);
        border-color: #f63f45;
    }
    .form__input__error_message {
        color: red;
    }
}
