.container {
    display: flex;
}

.justify-content-around {
    justify-content: space-around !important;
}


.vertical-algin-midle {
    vertical-align: middle;
}

.text--center {
    text-align: center;
}

/* Text Color */
.text--white {
    color: #ffffff;
}
.text--charcoal-grey {
    color: #3d3d3f;
}
.text--white-two {
    color: #f6f6f6;
}
.text--white-three {
    color: #ededed;
}
.text--white-four {
    color: #d4d3d3;
}
.text--pea-green {
    color: #82bf11;
}
.text--strawberry {
    color: #f63f45;
}
.text--pumpkin-orange {
    color: #ff7413;
}
.text--bright-orange {
    color: #ff6900;
}
.text--apricot {
    color: #ffc371;
}
.text--greyish-brown {
    color: #4d4d4d;
}
.text--pinkish-grey {
    color: #cccccc;
}
.text--greyish {
    color: #acacac;
}
.text--cornflower-50 {
    color: rgba(95, 109, 255, 0.5);
}
.greyish-two {
    color: #b7b7b7;
}
.text--white-five {
    color: #fbfbfb;
}
.text--dark-grey {
    color: #202124;
}
.text--brown-grey {
    color: #979797;
}
.text--black-8 {
    color: rgba(0, 0, 0, 0.08);
}
.text--white-six {
    color: #eaeaea;
}
