footer {
    height: 185px;
    margin: auto;
    padding: 30px 0;
    max-width: 1465px;

    .fa-instagram {
        font-size: 18px;
        margin: 0px 20px;
    }
    hr {
        border: 1px solid #eaeaea;
    }
}
