.search-box__container {
    width: 33.33%;
    text-align: center;
    .search-box__input {
        padding: 0 35px 0 10px;
        border-radius: 17px;
        width: 175px;
        height: 31px;
        border: solid 1px #b7b7b7;
        &:focus {
            outline: none;
        }
    }

    .search-box__icon {
        opacity: 0.6;
        position: relative;
        left: -28px;
    }
}
