.product-info {
    .product-info__img {
        width: 80px;
        height: 113px;
    }

    .product-info__title {
        max-width: 220px;
        font-size: 14px;
        font-weight: 500;
        align-self: center;
        text-align: center;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
