.add-product__button {
    .add-product__submit-buton {
        width: 180px;
        margin-left: 20px;
        margin-right: 0;
    }
    .add-product__cancel-buton {
        margin: 0;
        width: 180px;
        border: solid 1px #ededed;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        color: #ffa15f;
    }
}
